.error-indicator {
  padding: 20px;
  margin: 10px;
  background-color: aquamarine;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boom {
  font-size: 20px;
  color: red;
  font-weight: 600;
}